* {
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #ffffff;
}


h1 {
  font-size: 30px;
}

p {
  font-family: Avenir Next;
  color: #909090;
}

h3 {
  font-size: 2rem;
}

img {
  max-width: 100%;
}

#main-container {
  margin: 0 auto;
  width: 970px;
}

/* ===============================================
Header Area Style
=============================================== */

#header_area img {
  width: 100%;
}

#header_area .menu {
  font-size: 1.4em;
  font-family: Avenir Next;
  color: #909090;
  text-align: center;
  border-bottom: 1px solid #d0d4d8;
  padding-top: 3rem;
}

#header_area ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0 25%;
}

#header_area .buttom_border {
  color: #4e5665;
  font-weight: 600;
  border-bottom: 4px solid #ecb84c;
  padding-bottom: 3rem;
}

/* ===============================================
Banner Area Style
=============================================== */

#summary_area h2,
.container h2 {
  text-align: center;
  font-family: Georgia;
  font-size: 3.2rem;
  color: #4e5665;
  margin: 5rem auto;
}

#summary_area p,
.container p {
  font-family: Avenir Next;
  font-size: 1.6rem;
  line-height: 2.7rem;
  color: #505050;
  margin: 0 auto;
}

.read-more {
  color: #ecb84c;
  font-weight: 500;
}

#summary_area .image-area ul {
  display: flex;
  justify-content: space-evenly;
  padding: 3% 15%;
}

.divider {
  color: #a4a5a7;
  height: 1px;
}

.historical {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 50px 0 0;
  position: relative;
}

.text-heritage {
  position: absolute;
  left: 0;
  z-index: 10;
  width: 50%;
  min-height: 285px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 40px;
  font-size: 1.6rem;
  line-height: 2.7rem;
  color: #505050;
}

.text-heritage::before,
.text-heritage::after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
}

.text-heritage::before {
  border-top: 3px solid orange;
  border-left: 3px solid orange;
  top: 20px;
  left: 20px;
}

.text-heritage::after {
  border-right: 3px solid orange;
  border-bottom: 3px solid orange;
  bottom: 20px;
  right: 20px;
}

.historical-wrapper .historical:nth-child(2n) {
  justify-content: flex-start;
}

.historical-wrapper .historical:nth-child(2n) .text-heritage {
  left: unset;
  right: 0;
}

.historical-wrapper .historical:nth-child(2n) .text-heritage::before {
  border-left: none;
  border-right: 3px solid orange;
  left: unset;
  right: 20px;
}

.historical-wrapper .historical:nth-child(2n) .text-heritage::after {
  border-right: none;
  border-left: 3px solid orange;
  right: unset;
  left: 20px;
}

.text-heritage h3 {
  font-size: 2rem;
  color: #4e5665;
  margin-bottom: 20px;
}

.historical-image {
  width: 57%;
}
