* {
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #ffffff;
}

html {
  font-size: 62.5%;
}
h1 {
  font-size: 3rem;
}

p {
  font-family: Avenir Next;
  color: #909090;
}

h3 {
  font-size: 2rem;
}

/* ===============================================
Header Area Style
=============================================== */

#header_area img {
  width: 100%;
}

#header_area .menu {
  font-size: 1.4em;
  font-family: Avenir Next;
  color: #909090;
  text-align: center;
  border-bottom: 1px solid #d0d4d8;
  padding-top: 3rem;
}

#header_area ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0 25%;
}

#header_area .buttom_border {
  color: #4e5665;
  font-weight: 600;
  border-bottom: 4px solid #ecb84c;
  padding-bottom: 3rem;
}

/* ===============================================
Banner Area Style
=============================================== */

#summary_area h2,
.container h2 {
  text-align: center;
  font-family: Georgia;
  font-size: 3.2rem;
  color: #4e5665;
  margin: 5rem auto;
}

#summary_area p,
.container p {
  width: 59%;
  font-family: Avenir Next;
  font-size: 1.6rem;
  line-height: 2.7rem;
  color: #505050;
  margin: 0 auto;
}

.read-more {
  color: #ecb84c;
  font-weight: 500;
}

#summary_area .image-area ul {
  display: flex;
  justify-content: space-evenly;
  padding: 3% 15%;
}

.divider {
  color: #a4a5a7;
  max-width: 780px;
  height: 1px;
}
