* {
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #ffffff;
}

p {
  font-size: 16px;
  font-family: Avenir Next;
}

h2 {
  font-family: Georgia;
  font-size: 32px;
  color: #4e5665;
}

h3 {
  font-size: 20px;
}

img {
  max-width: 100%;
}

#header_area,
#visual_area,
footer {
  margin: 0 auto;
  width: 1441px;
}

#service_area {
  margin: 0 auto;
  width: 1170px;
}

#main-container {
  margin: 0 auto;
  width: 970px;
}

/* ===============================================
Header Area Style
=============================================== */

#header_area img {
  width: 100%;
}

#header_area .menu {
  font-size: 14px;
  font-family: Avenir Next;
  color: #909090;
  text-align: center;
  border-bottom: 1px solid #d0d4d8;
  padding-top: 30px;
}

#header_area ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0 350px;
}

#header_area .buttom_border {
  color: #4e5665;
  font-weight: 400;
  border-bottom: 4px solid #ecb84c;
  padding-bottom: 25px;
}

/* ===============================================
Banner Area Style
=============================================== */

#summary_area h2,
.container h2 {
  text-align: center;
  font-family: Georgia;
  font-size: 32px;
  color: #4e5665;
  margin: 60px auto;
}

#summary_area p,
.container p {
  font-family: Avenir Next;
  font-size: 16px;
  line-height: 26px;
  color: #505050;
  margin: 0 auto;
}

.read-more {
  color: #ecb84c;
  font-weight: 300;
}

#summary_area .image-area ul {
  display: flex;
  justify-content: space-evenly;
  padding: 50px 20px;
}

.divider {
  color: #ececec3b;
  height: 1px;
  width: 1170px;
  margin: 0 auto;
}

/* ===============================================
Intro Area Style
=============================================== */

.historical {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 50px 0 0;
  position: relative;
}

.text-heritage {
  position: absolute;
  left: 0;
  z-index: 10;
  width: 50%;
  min-height: 285px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 40px;
  font-size: 16px;
  line-height: 24px;
  color: #505050;
}

.text-heritage::before,
.text-heritage::after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
}

.text-heritage::before {
  border-top: 3px solid #ecb84c;
  border-left: 3px solid #ecb84c;
  top: 20px;
  left: 20px;
}

.text-heritage::after {
  border-right: 3px solid #ecb84c;
  border-bottom: 3px solid #ecb84c;
  bottom: 20px;
  right: 20px;
}

.historical-wrapper .historical:nth-child(2n) {
  justify-content: flex-start;
}

.historical-wrapper .historical:nth-child(2n) .text-heritage {
  left: unset;
  right: 0;
}

.historical-wrapper .historical:nth-child(2n) .text-heritage::before {
  border-left: none;
  border-right: 3px solid #ecb84c;
  left: unset;
  right: 20px;
}

.historical-wrapper .historical:nth-child(2n) .text-heritage::after {
  border-right: none;
  border-left: 3px solid #ecb84c;
  right: unset;
  left: 20px;
}

.text-heritage h3 {
  font-size: 24px;
  color: #4e5665;
  margin-bottom: 20px;
}

.historical-image {
  width: 57%;
}

/* ===============================================
Service Area Style
=============================================== */
#service_area h2,
h5 {
  text-align: center;
  margin-top: 100px;
}

#service_area h5 {
  color: #ecb84c;
  font-family: Avenir Next;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 80px;
}

#service_area .green {
  position: relative;
  z-index: 20;
  margin-top: -5px;
}

#service_area .shadow {
  position: relative;
  z-index: 19;
  margin-top: -16px;
}

#main-container,
.havana {
  margin-top: 56px;
  margin-bottom: 83px;
  line-height: 28px;
}

#second {
  margin-bottom: 81px;
}

.center-text {
  text-align: center;
  margin-bottom: 46px;
}

.last-info {
  margin-bottom: 108px;
}

#visual_area {
  display: flex;
  position: relative;
}

.cuba-photos {
  max-width: 1441px;
}

.one {
  max-height: 480px;
  z-index: 99;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  margin-bottom: 80px;
}

.two {
  max-height: 420px;
  z-index: 98;
  margin-left: 180px;
  margin-top: 30px;
}

.three {
  position: absolute;
  max-height: 315px;
  z-index: 97;
  left: 0px;
  margin-top: 83px;
}

.four {
  position: absolute;
  max-height: 420px;
  z-index: 98;
  right: 190px;
  margin-top: 30px;
}

.five {
  position: absolute;
  max-height: 315px;
  z-index: 97;
  right: 0px;
  margin-top: 83px;
}

.arrow .left {
  top: 220px;
  z-index: 100;
  position: absolute;
  left: 380px;
}

.arrow .right {
  top: 220px;
  z-index: 100;
  position: absolute;
  right: 380px;
}

/* ===============================================
Footer Area Style
=============================================== */

footer {
  margin-top: 100px;
  background-color: #f8f8f8;
  height: 314px;
  padding-top: 55px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer li {
  padding-bottom: 8px;
}

footer a {
  text-decoration: none;
  font-size: 14px;
  color: #505050a2;
}

footer ul {
  margin-top: 20px;
}

#footer_area {
  display: flex;
  justify-content: space-around;
}

.agency {
  display: flex;
  flex-direction: column;
}

.connect img {
  padding-right: 10px;
}

.agency .dollar {
  margin-top: 21px;
}

#footer_area span {
  font-size: 15px;
  font-family: Avenir Next;
  font-weight: medium;
  line-height: 20px;
  color: #4e5665;
}

#copyright {
  text-align: center;
  color: #505050a2;
}
